* {
  box-sizing: border-box;
}
:root {
  --radius: 10px;
  font-family: "Gill Sans", sans-serif;
}

.container {
  outline: 1px solid #3bb9a4;
  border-radius: var(--radius);
  width: 450px;
  height: 600px;
}
.header {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.fa-telegram {
  margin-right: 5px;
}

.img-container {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.photo {
  border: 10px solid #f7faff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.info-header {
  margin-top: -20px;
}

.info-header > p {
  font-size: 32px;
}

.info-main {
  margin-top: -30px;
}

.info-main > p {
  width: 70%;
  font-size: 13px;
  text-align: center;
}

.follow-button {
  margin-top: 12px;
}

.button {
  padding: 15px 50px;
  margin: 20px 45px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 5px;
  border-bottom: 3px solid blue;
  text-decoration: solid;
  background: #7abcff;
}

.footer {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  color: rgba(255, 255, 255, 0.5);
  background-color: #1f354c;
  height: 100%;
}

.footer-border{
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

}

.img-footer {
  font-size: 30px;
  margin-right: 10px;
  color: #927076;
}

.text-footer {
  text-align: center;
  font-size: 14px;
  color: #927076;
}

.text-footer > p {
  margin: auto;
  color: white;
  font-weight: bold;
}

/* Flex properties */

.flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.social-net {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
}
