* {
  box-sizing: border-box;
}
:root {
  --radius: 10px;
}

/* div {
  border: 1px solid red;
} */

.container {
  outline: 1px solid #3bb9a4;
  border-radius: var(--radius);
  width: 450px;
  height: 600px;
}
.header {
  display: flex;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  height: 15%;
  color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
  font-size: 13px;
}

.fa-telegram {
  margin-right: 5px;
}

.img-container {
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: -25px;
}
.photo {
  border: 10px solid white;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.info-header {
  text-align: center;
  margin-top: -25px;
}
.info-header > p {
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
}

.info-main > p {
  width: 70%;
  margin: auto;
  text-align: center;
}
.follow-button {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.button {
  padding: 15px 50px;
  margin: 20px 40px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #aaa;
  border-bottom: 2px solid blue;
  text-decoration: solid;
  background: #7abcff;
}
.footer {
  width: 100%;
  height: 15%;
  text-align: center;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  color: rgba(255, 255, 255, 0.5);
  background-color: #1f354c;
}
.social-net {
  display: inline-block;
  width: 32%;
  height: 100%;
  padding-top: 30px;
}
.social-net > p {
  margin-top: -2px;
  color: white;
}
#posts,
#favorites {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
